In [1]:
!pip3 install -r requirements.txt

Requirement already satisfied: python-dotenv in d:\github\ejemplo streamlit\.venv\lib\site-packages (from -r requirements.txt (line 1)) (1.0.1)
Requirement already satisfied: pandas in d:\github\ejemplo streamlit\.venv\lib\site-packages (from -r requirements.txt (line 2)) (2.2.2)
Requirement already satisfied: xlrd in d:\github\ejemplo streamlit\.venv\lib\site-packages (from -r requirements.txt (line 3)) (2.0.1)
Requirement already satisfied: mysql-connector-python in d:\github\ejemplo streamlit\.venv\lib\site-packages (from -r requirements.txt (line 4)) (9.0.0)
Requirement already satisfied: streamlit in d:\github\ejemplo streamlit\.venv\lib\site-packages (from -r requirements.txt (line 5)) (1.38.0)
Requirement already satisfied: watchdog in d:\github\ejemplo streamlit\.venv\lib\site-packages (from -r requirements.txt (line 6)) (4.0.2)
Requirement already satisfied: openpyxl in d:\github\ejemplo streamlit\.venv\lib\site-packages (from -r requirements.txt (line 7)) (3.1.5)
Requirement already satisfied: numpy>=1.26.0 in d:\github\ejemplo streamlit\.venv\lib\site-packages (from pandas->-r requirements.txt (line 2)) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\github\ejemplo streamlit\.venv\lib\site-packages (from pandas->-r requirements.txt (line 2)) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\github\ejemplo streamlit\.venv\lib\site-packages (from pandas->-r requirements.txt (line 2)) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in d:\github\ejemplo streamlit\.venv\lib\site-packages (from pandas->-r requirements.txt (line 2)) (2024.1)
Requirement already satisfied: altair<6,>=4.0 in d:\github\ejemplo streamlit\.venv\lib\site-packages (from streamlit->-r requirements.txt (line 5)) (5.4.1)
Requirement already satisfied: blinker<2,>=1.0.0 in d:\github\ejemplo streamlit\.venv\lib\site-packages (from streamlit->-r requirements.txt (line 5)) (1.8.2)
Requirement already satisfied: cachetools<6,>=4.0 in d:\github\ejemplo streamlit\.venv\lib\site-packages (from streamlit->-r requirements.txt (line 5)) (5.5.0)
Requirement already satisfied: click<9,>=7.0 in d:\github\ejemplo streamlit\.venv\lib\site-packages (from streamlit->-r requirements.txt (line 5)) (8.1.7)
Requirement already satisfied: packaging<25,>=20 in d:\github\ejemplo streamlit\.venv\lib\site-packages (from streamlit->-r requirements.txt (line 5)) (24.1)
Requirement already satisfied: pillow<11,>=7.1.0 in d:\github\ejemplo streamlit\.venv\lib\site-packages (from streamlit->-r requirements.txt (line 5)) (10.4.0)
Requirement already satisfied: protobuf<6,>=3.20 in d:\github\ejemplo streamlit\.venv\lib\site-packages (from streamlit->-r requirements.txt (line 5)) (5.28.0)
Requirement already satisfied: pyarrow>=7.0 in d:\github\ejemplo streamlit\.venv\lib\site-packages (from streamlit->-r requirements.txt (line 5)) (17.0.0)
Requirement already satisfied: requests<3,>=2.27 in d:\github\ejemplo streamlit\.venv\lib\site-packages (from streamlit->-r requirements.txt (line 5)) (2.32.3)
Requirement already satisfied: rich<14,>=10.14.0 in d:\github\ejemplo streamlit\.venv\lib\site-packages (from streamlit->-r requirements.txt (line 5)) (13.8.0)
Requirement already satisfied: tenacity<9,>=8.1.0 in d:\github\ejemplo streamlit\.venv\lib\site-packages (from streamlit->-r requirements.txt (line 5)) (8.5.0)
Requirement already satisfied: toml<2,>=0.10.1 in d:\github\ejemplo streamlit\.venv\lib\site-packages (from streamlit->-r requirements.txt (line 5)) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.3.0 in d:\github\ejemplo streamlit\.venv\lib\site-packages (from streamlit->-r requirements.txt (line 5)) (4.12.2)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in d:\github\ejemplo streamlit\.venv\lib\site-packages (from streamlit->-r requirements.txt (line 5)) (3.1.43)
Requirement already satisfied: pydeck<1,>=0.8.0b4 in d:\github\ejemplo streamlit\.venv\lib\site-packages (from streamlit->-r requirements.txt (line 5)) (0.9.1)
Requirement already satisfied: tornado<7,>=6.0.3 in d:\github\ejemplo streamlit\.venv\lib\site-packages (from streamlit->-r requirements.txt (line 5)) (6.4.1)
Requirement already satisfied: et-xmlfile in d:\github\ejemplo streamlit\.venv\lib\site-packages (from openpyxl->-r requirements.txt (line 7)) (1.1.0)
Requirement already satisfied: jinja2 in d:\github\ejemplo streamlit\.venv\lib\site-packages (from altair<6,>=4.0->streamlit->-r requirements.txt (line 5)) (3.1.4)
Requirement already satisfied: jsonschema>=3.0 in d:\github\ejemplo streamlit\.venv\lib\site-packages (from altair<6,>=4.0->streamlit->-r requirements.txt (line 5)) (4.23.0)
Requirement already satisfied: narwhals>=1.5.2 in d:\github\ejemplo streamlit\.venv\lib\site-packages (from altair<6,>=4.0->streamlit->-r requirements.txt (line 5)) (1.6.3)
Requirement already satisfied: colorama in d:\github\ejemplo streamlit\.venv\lib\site-packages (from click<9,>=7.0->streamlit->-r requirements.txt (line 5)) (0.4.6)
Requirement already satisfied: gitdb<5,>=4.0.1 in d:\github\ejemplo streamlit\.venv\lib\site-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit->-r requirements.txt (line 5)) (4.0.11)
Requirement already satisfied: six>=1.5 in d:\github\ejemplo streamlit\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas->-r requirements.txt (line 2)) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in d:\github\ejemplo streamlit\.venv\lib\site-packages (from requests<3,>=2.27->streamlit->-r requirements.txt (line 5)) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in d:\github\ejemplo streamlit\.venv\lib\site-packages (from requests<3,>=2.27->streamlit->-r requirements.txt (line 5)) (3.8)
Requirement already satisfied: urllib3<3,>=1.21.1 in d:\github\ejemplo streamlit\.venv\lib\site-packages (from requests<3,>=2.27->streamlit->-r requirements.txt (line 5)) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in d:\github\ejemplo streamlit\.venv\lib\site-packages (from requests<3,>=2.27->streamlit->-r requirements.txt (line 5)) (2024.8.30)
Requirement already satisfied: markdown-it-py>=2.2.0 in d:\github\ejemplo streamlit\.venv\lib\site-packages (from rich<14,>=10.14.0->streamlit->-r requirements.txt (line 5)) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in d:\github\ejemplo streamlit\.venv\lib\site-packages (from rich<14,>=10.14.0->streamlit->-r requirements.txt (line 5)) (2.18.0)
Requirement already satisfied: smmap<6,>=3.0.1 in d:\github\ejemplo streamlit\.venv\lib\site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit->-r requirements.txt (line 5)) (5.0.1)
Requirement already satisfied: MarkupSafe>=2.0 in d:\github\ejemplo streamlit\.venv\lib\site-packages (from jinja2->altair<6,>=4.0->streamlit->-r requirements.txt (line 5)) (2.1.5)
Requirement already satisfied: attrs>=22.2.0 in d:\github\ejemplo streamlit\.venv\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit->-r requirements.txt (line 5)) (24.2.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in d:\github\ejemplo streamlit\.venv\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit->-r requirements.txt (line 5)) (2023.12.1)
Requirement already satisfied: referencing>=0.28.4 in d:\github\ejemplo streamlit\.venv\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit->-r requirements.txt (line 5)) (0.35.1)
Requirement already satisfied: rpds-py>=0.7.1 in d:\github\ejemplo streamlit\.venv\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit->-r requirements.txt (line 5)) (0.20.0)
Requirement already satisfied: mdurl~=0.1 in d:\github\ejemplo streamlit\.venv\lib\site-packages (from markdown-it-py>=2.2.0->rich<14,>=10.14.0->streamlit->-r requirements.txt (line 5)) (0.1.2)

In [2]:
import pandas as pd
import numpy as np
import mysql.connector
from mysql.connector import Error
import mysql.connector
from dotenv import load_dotenv
import os

In [3]:
Inf = pd.read_excel('turnos.xlsx', sheet_name='Inf')
Turno = pd.read_excel('turnos.xlsx', sheet_name='Turnos')

In [5]:
Turno.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ID       3 non-null      int64
 1   Turno    3 non-null      object
 2   Horario  3 non-null      object
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes

In [6]:
Inf

   ID Nombre   Apellido     celular  Dirección
0   1   Juan      Pérez  1234567890    Calle 1
1   2    Ana      Gómez   987654321  Avenida 2
2   3  Pedro  Rodríguez  1122334455  Carrera 3

In [7]:

# Realizar cruce de Bases de datos
DB_Inf = Inf.merge(Turno, left_on=['ID'], right_on=['ID'], how='left')
DB_Inf

   ID Nombre   Apellido     celular  Dirección   Turno      Horario
0   1   Juan      Pérez  1234567890    Calle 1  Mañana   8:00-12:00
1   2    Ana      Gómez   987654321  Avenida 2   Tarde  12:00-16:00
2   3  Pedro  Rodríguez  1122334455  Carrera 3   Noche  16:00-20:00

In [8]:
import sqlite3
import pandas as pd

# Crear el DataFrame
# data = {
#     'ID': [1, 2, 3],
#     'Nombre': ['Juan', 'Ana', 'Pedro'],
#     'Apellido': ['Pérez', 'Gómez', 'Rodríguez'],
#     'celular': ['1234567890', '987654321', '1122334455'],
#     'Dirección': ['Calle 1', 'Avenida 2', 'Carrera 3'],
#     'Turno': ['Mañana', 'Tarde', 'Noche'],
#     'Horario': ['8:00-12:00', '12:00-16:00', '16:00-20:00']
# }

# df = pd.DataFrame(data)
df = DB_Inf.copy()

# Conectar a SQLite y crear la tabla
conn = sqlite3.connect('mi_base_de_datos.db')
c = conn.cursor()

# Crear la tabla
c.execute('''
    CREATE TABLE IF NOT EXISTS empleados (
        ID INTEGER PRIMARY KEY,
        Nombre TEXT,
        Apellido TEXT,
        celular TEXT,
        Dirección TEXT,
        Turno TEXT,
        Horario TEXT
    )
''')

# Insertar los datos del DataFrame en la tabla
df.to_sql('empleados', conn, if_exists='replace', index=False)

# Guardar los cambios y cerrar la conexión
conn.commit()
conn.close()

In [5]:
import sqlite3

def check_table_structure(db_file):
    connection = sqlite3.connect(db_file)
    cursor = connection.cursor()
    
    # Obtener la información de la tabla
    cursor.execute("PRAGMA table_info(empleados)")
    columns = cursor.fetchall()
    
    # Mostrar la estructura de la tabla
    print("Columnas en la tabla 'empleados':")
    for column in columns:
        print(column)
    
    connection.close()

# Nombre del archivo de base de datos
db_file = 'mi_base_de_datos.db'

# Verificar la estructura de la tabla
check_table_structure(db_file)

Columnas en la tabla 'empleados':
(0, 'ID', 'INTEGER', 0, None, 0)
(1, 'Nombre', 'TEXT', 0, None, 0)
(2, 'Apellido', 'TEXT', 0, None, 0)
(3, 'Numero de celular', 'INTEGER', 0, None, 0)
(4, 'Dirección', 'TEXT', 0, None, 0)
(5, 'Turno', 'TEXT', 0, None, 0)
(6, 'Horario', 'TEXT', 0, None, 0)

In [19]:
DB_Inf

   ID Nombre   Apellido     celular  Dirección   Turno      Horario
0   1   Juan      Pérez  1234567890    Calle 1  Mañana   8:00-12:00
1   2    Ana      Gómez   987654321  Avenida 2   Tarde  12:00-16:00
2   3  Pedro  Rodríguez  1122334455  Carrera 3   Noche  16:00-20:00

Establecer la conexión entre base de datos y python

In [9]:
import sqlite3

# Establecer una conexión a una base de datos SQLite
conexion = sqlite3.connect('mi_base_de_datos.db')

# Crear un cursor para interactuar con la base de datos
cursor = conexion.cursor()
print("Conexión establecida con SQLite")

# No olvides cerrar la conexión al finalizar
conexion.close()

Conexión establecida con SQLite

In [16]:
import sqlite3

# Consulta de la Base de datos en SQL

def open_connection(db_file):
    """ Abre una conexión a la base de datos SQLite """
    conn = sqlite3.connect(db_file)
    return conn

def close_connection(conn):
    """ Cierra la conexión a la base de datos """
    if conn:
        conn.close()

def fetch_data(conn, table_name):
    """ Recupera todos los datos de una tabla y los muestra """
    try:
        cursor = conn.cursor()
        query = f"SELECT * FROM \"{table_name}\""
        cursor.execute(query)
        rows = cursor.fetchall()
        
        # Mostrar los datos
        if rows:
            for row in rows:
                print(row)
        else:
            print(f"No hay datos en la tabla '{table_name}'.")
    
    except sqlite3.Error as e:
        print(f"Error al recuperar datos: {e}")

def main():
    db_file = 'mi_base_de_datos.db'
    table_name = 'empleados'  # Cambia el nombre de la tabla según tu base de datos
    
    # Abrir la conexión
    conn = open_connection(db_file)
    
    try:
        # Recuperar y mostrar datos
        fetch_data(conn, table_name)
    
    finally:
        # Cerrar la conexión
        close_connection(conn)

if __name__ == '__main__':
    main()

(1, 'Juan', 'Pérez', 1234567890, 'Calle 1', 'Mañana', '8:00-12:00')
(2, 'Ana', 'Gómez', 987654321, 'Avenida 2', 'Tarde', '12:00-16:00')
(3, 'Pedro', 'Rodríguez', 1122334455, 'Carrera 3', 'Noche', '16:00-20:00')
(None, 'Juan', 'Lopez', 387321654321, 'Calle 21a 34-67', 'Mañana', '8:00-12:00')

In [12]:
DB_Inf

   ID Nombre   Apellido     celular  Dirección   Turno      Horario
0   1   Juan      Pérez  1234567890    Calle 1  Mañana   8:00-12:00
1   2    Ana      Gómez   987654321  Avenida 2   Tarde  12:00-16:00
2   3  Pedro  Rodríguez  1122334455  Carrera 3   Noche  16:00-20:00

In [15]:
import sqlite3
import tkinter as tk
from tkinter import messagebox

# Función para abrir la conexión a la base de datos
def open_connection(db_file):
    """ Abre una conexión a la base de datos SQLite """
    conn = sqlite3.connect(db_file)
    return conn

# Función para cerrar la conexión a la base de datos
def close_connection(conn):
    """ Cierra la conexión a la base de datos """
    if conn:
        conn.close()

# Función para insertar datos en la base de datos
def insert_data(db_file, name, last_name, phone, address, shift, schedule):
    """ Inserta datos en la base de datos SQLite """
    try:
        conn = open_connection(db_file)
        cursor = conn.cursor()
        
        insert_query = '''
            INSERT INTO empleados (Nombre, Apellido, celular, Dirección, Turno, Horario)
            VALUES (?, ?, ?, ?, ?, ?)
        '''
        cursor.execute(insert_query, (name, last_name, phone, address, shift, schedule))
        
        conn.commit()
        messagebox.showinfo("Éxito", "Datos insertados correctamente.")
    
    except sqlite3.Error as e:
        messagebox.showerror("Error", f"Error al insertar datos: {e}")
    
    finally:
        close_connection(conn)

# Función para manejar el evento de clic en el botón
def on_submit():
    name = entry_name.get()
    last_name = entry_last_name.get()
    phone = entry_phone.get()
    address = entry_address.get()
    shift = entry_shift.get()
    schedule = entry_schedule.get()
    
    if not (name and last_name and phone and address and shift and schedule):
        messagebox.showwarning("Advertencia", "Por favor, complete todos los campos.")
        return
    
    insert_data('mi_base_de_datos.db', name, last_name, phone, address, shift, schedule)

# Crear la interfaz gráfica
root = tk.Tk()
root.title("Insertar Datos en la Base de Datos")

# Crear campos de entrada
tk.Label(root, text="Nombre").grid(row=0, column=0)
entry_name = tk.Entry(root)
entry_name.grid(row=0, column=1)

tk.Label(root, text="Apellido").grid(row=1, column=0)
entry_last_name = tk.Entry(root)
entry_last_name.grid(row=1, column=1)

tk.Label(root, text="calular").grid(row=2, column=0)
entry_phone = tk.Entry(root)
entry_phone.grid(row=2, column=1)

tk.Label(root, text="Dirección").grid(row=3, column=0)
entry_address = tk.Entry(root)
entry_address.grid(row=3, column=1)

tk.Label(root, text="Turno").grid(row=4, column=0)
entry_shift = tk.Entry(root)
entry_shift.grid(row=4, column=1)

tk.Label(root, text="Horario").grid(row=5, column=0)
entry_schedule = tk.Entry(root)
entry_schedule.grid(row=5, column=1)

# Botón para enviar datos
submit_button = tk.Button(root, text="Guardar Datos", command=on_submit)
submit_button.grid(row=6, columnspan=2)

# Iniciar el bucle principal de la interfaz gráfica
root.mainloop()

In [14]:
import sqlite3
import tkinter as tk
from tkinter import ttk, messagebox

def open_connection(db_file):
    """ Abre una conexión a la base de datos SQLite """
    conn = sqlite3.connect(db_file)
    return conn

def close_connection(conn):
    """ Cierra la conexión a la base de datos """
    if conn:
        conn.close()

def fetch_data(conn, table_name):
    """ Recupera todos los datos de una tabla """
    try:
        cursor = conn.cursor()
        query = f"SELECT * FROM \"{table_name}\""
        cursor.execute(query)
        rows = cursor.fetchall()
        return rows
    except sqlite3.Error as e:
        messagebox.showerror("Error", f"Error al recuperar datos: {e}")
        return []

def populate_treeview(tree, data):
    """ Llena el Treeview con los datos recuperados """
    for row in data:
        tree.insert("", tk.END, values=row)

def on_fetch_data():
    table_name = entry_table_name.get()
    if not table_name:
        messagebox.showwarning("Advertencia", "Por favor, ingrese el nombre de la tabla.")
        return
    
    conn = open_connection('mi_base_de_datos.db')
    data = fetch_data(conn, table_name)
    close_connection(conn)
    
    # Limpiar el Treeview
    for row in tree.get_children():
        tree.delete(row)
    
    # Poblar el Treeview con los datos recuperados
    populate_treeview(tree, data)

# Crear la interfaz gráfica
root = tk.Tk()
root.title("Recuperar Datos de la Base de Datos")

# Crear campo de entrada para el nombre de la tabla
tk.Label(root, text="Nombre de la Tabla").grid(row=0, column=0)
entry_table_name = tk.Entry(root)
entry_table_name.grid(row=0, column=1)

# Botón para recuperar datos
fetch_button = tk.Button(root, text="Recuperar Datos", command=on_fetch_data)
fetch_button.grid(row=1, columnspan=2)

# Crear Treeview para mostrar los datos
columns = ("ID", "Nombre", "Apellido", "celular", "Dirección", "Turno", "Horario")
tree = ttk.Treeview(root, columns=columns, show='headings')
tree.heading("#1", text="ID")
tree.heading("#2", text="Nombre")
tree.heading("#3", text="Apellido")
tree.heading("#4", text="celular")
tree.heading("#5", text="Dirección")
tree.heading("#6", text="Turno")
tree.heading("#7", text="Horario")
tree.grid(row=2, columnspan=2)

# Iniciar el bucle principal de la interfaz gráfica
root.mainloop()

In [ ]:
import tkinter as tk
from tkinter import ttk
import sqlite3
import pandas as pd

def recuperar_datos():
    # Establecer conexión a la base de datos
    conexion = sqlite3.connect('mi_base_de_datos.db')
    
    # Cargar datos en un DataFrame
    df = pd.read_sql_query("SELECT * FROM usuarios", conexion)

    # Limpiar el árbol de resultados
    for row in tree.get_children():
        tree.delete(row)

    # Insertar los datos recuperados en el árbol
    for _, fila in df.iterrows():
        tree.insert("", tk.END, values=(
            fila.get('ID', 'N/A'), 
            fila.get('Nombre', 'N/A'), 
            fila.get('Apellido', 'N/A'), 
            fila.get('celular', 'N/A'), 
            fila.get('Dirección', 'N/A'), 
            fila.get('Turno', 'N/A'), 
            fila.get('Horario', 'N/A')
        ))

    # Cerrar la conexión
    conexion.close()

# Configuración de la ventana principal
ventana = tk.Tk()
ventana.title("Datos de Usuarios")

# Crear un botón para recuperar datos
boton_recuperar = tk.Button(ventana, text="Recuperar Datos", command=recuperar_datos)
boton_recuperar.pack(pady=10)

# Crear un árbol para mostrar los datos
tree = ttk.Treeview(ventana, columns=(
    "ID", 
    "Nombre", 
    "Apellido", 
    "celular", 
    "Dirección", 
    "Turno", 
    "Horario"
), show='headings')

# Definir las cabeceras de las columnas
tree.heading("ID", text="ID")
tree.heading("Nombre", text="Nombre")
tree.heading("Apellido", text="Apellido")
tree.heading("celular", text="Celular")
tree.heading("Dirección", text="Dirección")
tree.heading("Turno", text="Turno")
tree.heading("Horario", text="Horario")

# Ajustar el tamaño de las columnas
tree.column("ID", width=50)
tree.column("Nombre", width=100)
tree.column("Apellido", width=100)
tree.column("celular", width=120)
tree.column("Dirección", width=150)
tree.column("Turno", width=100)
tree.column("Horario", width=120)

tree.pack()

# Ejecutar la aplicación
ventana.mainloop()

In [20]:
import sqlite3
import tkinter as tk
from tkinter import ttk, messagebox

def open_connection(db_file):
    """ Abre una conexión a la base de datos SQLite """
    conn = sqlite3.connect(db_file)
    return conn

def close_connection(conn):
    """ Cierra la conexión a la base de datos """
    if conn:
        conn.close()

def fetch_data(conn, table_name):
    """ Recupera todos los datos de una tabla """
    try:
        cursor = conn.cursor()
        query = f"SELECT * FROM \"{table_name}\""
        cursor.execute(query)
        rows = cursor.fetchall()
        return rows
    except sqlite3.Error as e:
        messagebox.showerror("Error", f"Error al recuperar datos: {e}")
        return []

def populate_treeview(tree, data):
    """ Llena el Treeview con los datos recuperados """
    for row in data:
        tree.insert("", tk.END, values=row)

def on_fetch_data():
    table_name = entry_table_name.get()
    if not table_name:
        messagebox.showwarning("Advertencia", "Por favor, ingrese el nombre de la tabla.")
        return
    
    conn = open_connection('mi_base_de_datos.db')
    data = fetch_data(conn, table_name)
    close_connection(conn)
    
    # Limpiar el Treeview
    for row in tree.get_children():
        tree.delete(row)
    
    # Poblar el Treeview con los datos recuperados
    populate_treeview(tree, data)

# Crear la interfaz gráfica
root = tk.Tk()
root.title("Recuperar Datos de la Base de Datos")

# Crear campo de entrada para el nombre de la tabla
tk.Label(root, text="Nombre de la Tabla").grid(row=0, column=0)
entry_table_name = tk.Entry(root)
entry_table_name.grid(row=0, column=1)

# Botón para recuperar datos
fetch_button = tk.Button(root, text="Recuperar Datos", command=on_fetch_data)
fetch_button.grid(row=1, columnspan=2)

# Crear Treeview para mostrar los datos
columns = ("ID", "Nombre", "Apellido", "Numero_de_celular", "Dirección", "Turno", "Horario")
tree = ttk.Treeview(root, columns=columns, show='headings')
tree.heading("#1", text="ID")
tree.heading("#2", text="Nombre")
tree.heading("#3", text="Apellido")
tree.heading("#4", text="Número de Celular")
tree.heading("#5", text="Dirección")
tree.heading("#6", text="Turno")
tree.heading("#7", text="Horario")
tree.grid(row=2, columnspan=2)

# Iniciar el bucle principal de la interfaz gráfica
root.mainloop()

In [21]:
import sqlite3
import logging

# Configuración del logging
logging.basicConfig(filename='errores.log', level=logging.ERROR)

def recuperar_datos():
    try:
        conexion = sqlite3.connect('mi_base_de_datos.db')
        consulta = """
        SELECT ID, Nombre, Apellido, celular, Dirección, Turno, Horario
        FROM usuarios
        """
        df = pd.read_sql_query(consulta, conexion)
        print(df.head())
        
    except sqlite3.DatabaseError as e:
        logging.error("Error al conectar o consultar la base de datos:", exc_info=True)
    except Exception as e:
        logging.error("Ocurrió un error inesperado:", exc_info=True)
    finally:
        if conexion:
            conexion.close()

# Llamar a la función para probar
recuperar_datos()